In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px 
import numpy as np
import requests
import json
import csv

# Reading in and Merging CSV files

In [8]:
citibike_jan_df = pd.read_csv("202301-citibike-tripdata_1.csv")
citibike_feb_df = pd.read_csv("202302-citibike-tripdata_1.csv")
citibike_mar_df = pd.read_csv("202303-citibike-tripdata_1.csv")
citibike_apr_df = pd.read_csv("202304-citibike-tripdata_1.csv")
citibike_may_df = pd.read_csv("202305-citibike-tripdata_1.csv")
citibike_jun_df = pd.read_csv("202306-citibike-tripdata_1.csv")
citibike_jul_df = pd.read_csv("202307-citibike-tripdata_1.csv")
citibike_aug_df = pd.read_csv("202308-citibike-tripdata_1.csv")
citibike_sept_df = pd.read_csv("202309-citibike-tripdata_1.csv")
citibike_oct_df = pd.read_csv("202310-citibike-tripdata_1.csv")
citibike_nov_df = pd.read_csv("202311-citibike-tripdata_1.csv")
citibike_dec_df = pd.read_csv("202312-citibike-tripdata_1.csv")

citibike_jan_df

/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_jan_df = pd.read_csv("202301-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_feb_df = pd.read_csv("202302-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_mar_df = pd.read_csv("202303-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_apr_df = pd.read_csv("202304-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_may_df = pd.read_csv("202305-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_jun_df = pd.read_csv("202306-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_jul_df = pd.read_csv("202307-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:8: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_aug_df = pd.read_csv("202308-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:9: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_sept_df = pd.read_csv("202309-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_oct_df = pd.read_csv("202310-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:11: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_nov_df = pd.read_csv("202311-citibike-tripdata_1.csv")
/var/folders/rp/8lsdkk916jq55y5zy1jgqcdw0000gn/T/ipykernel_28932/630028486.py:12: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_dec_df = pd.read_csv("202312-citibike-tripdata_1.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,906C1734A55DC87B,classic_bike,2023-01-02 18:44:21,2023-01-02 18:50:24,E 2 St & Avenue A,5553.1,Avenue D & E 3 St,5436.09,40.723077,-73.985836,40.720828,-73.977932,member
999996,7C37351D1AEC2CC3,classic_bike,2023-01-10 08:12:51,2023-01-10 08:16:37,West St & Liberty St,5184.08,West Thames St,5114.06,40.711444,-74.014847,40.708347,-74.017134,member
999997,83CA463A285804F7,classic_bike,2023-01-10 02:58:06,2023-01-10 03:00:49,West St & Liberty St,5184.08,West Thames St,5114.06,40.711444,-74.014847,40.708347,-74.017134,member
999998,5C819886EC6CE84D,classic_bike,2023-01-10 08:04:43,2023-01-10 08:07:37,West St & Liberty St,5184.08,West Thames St,5114.06,40.711444,-74.014847,40.708347,-74.017134,member
999999,1C16390E5809D26D,classic_bike,2023-01-03 10:09:44,2023-01-03 10:25:23,Central Park West & W 68 St,7079.06,W 104 St & Amsterdam Ave,7610.13,40.773407,-73.977825,40.799041,-73.966495,member

In [10]:
citibike_2023_data_merged_df = pd.concat([citibike_jan_df, citibike_feb_df, citibike_mar_df,
                                          citibike_apr_df, citibike_may_df, citibike_jun_df,
                                          citibike_jul_df, citibike_aug_df, citibike_sept_df,
                                          citibike_oct_df, citibike_nov_df, citibike_dec_df],
                                         ignore_index=True)
citibike_2023_data_merged_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11999995,22B2A7F47AB12DA6,classic_bike,2023-12-21 18:06:35,2023-12-21 18:17:05,Queens Plaza North & Crescent St,6429.01,3 Ave & E 62 St,6762.04,40.750998,-73.940613,40.763126,-73.965269,member
11999996,D8A50647290E00DA,classic_bike,2023-12-14 06:42:13,2023-12-14 06:55:47,W 82 St & Central Park West,7304.08,W 52 St & 6 Ave,6740.01,40.782750,-73.971370,40.761330,-73.979820,member
11999997,1E665076851B948B,classic_bike,2023-12-06 08:54:36,2023-12-06 09:16:21,8 Ave & W 33 St,6450.12,3 Ave & E 62 St,6762.04,40.751955,-73.993460,40.763126,-73.965269,casual
11999998,EA37E49DF5C3B39F,classic_bike,2023-12-22 13:48:37,2023-12-22 13:50:31,9 St & 44 Rd,6361.03,11 St & 44 Rd,6319.04,40.749660,-73.952100,40.749207,-73.949373,member
11999999,7F754A29CDAE965C,classic_bike,2023-12-22 15:35:04,2023-12-22 16:01:20,Thompson St & Bleecker St,5721.07,Henry St & Middagh St,4861.05,40.728401,-73.999688,40.700300,-73.991581,member

In [11]:
citibike_2023_data_merged_df.isnull().any()

ride_id               False
rideable_type         False
started_at            False
ended_at              False
start_station_name     True
start_station_id       True
end_station_name       True
end_station_id         True
start_lat             False
start_lng             False
end_lat                True
end_lng                True
member_casual         False
dtype: bool

In [14]:
citibike_2023_data_merged_df.dropna(inplace=True)
citibike_2023_data_merged_df.isnull().any()

ride_id               False
rideable_type         False
started_at            False
ended_at              False
start_station_name    False
start_station_id      False
end_station_name      False
end_station_id        False
start_lat             False
start_lng             False
end_lat               False
end_lng               False
member_casual         False
dtype: bool

In [15]:
citibike_2023_data_merged_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11999995,22B2A7F47AB12DA6,classic_bike,2023-12-21 18:06:35,2023-12-21 18:17:05,Queens Plaza North & Crescent St,6429.01,3 Ave & E 62 St,6762.04,40.750998,-73.940613,40.763126,-73.965269,member
11999996,D8A50647290E00DA,classic_bike,2023-12-14 06:42:13,2023-12-14 06:55:47,W 82 St & Central Park West,7304.08,W 52 St & 6 Ave,6740.01,40.782750,-73.971370,40.761330,-73.979820,member
11999997,1E665076851B948B,classic_bike,2023-12-06 08:54:36,2023-12-06 09:16:21,8 Ave & W 33 St,6450.12,3 Ave & E 62 St,6762.04,40.751955,-73.993460,40.763126,-73.965269,casual
11999998,EA37E49DF5C3B39F,classic_bike,2023-12-22 13:48:37,2023-12-22 13:50:31,9 St & 44 Rd,6361.03,11 St & 44 Rd,6319.04,40.749660,-73.952100,40.749207,-73.949373,member
11999999,7F754A29CDAE965C,classic_bike,2023-12-22 15:35:04,2023-12-22 16:01:20,Thompson St & Bleecker St,5721.07,Henry St & Middagh St,4861.05,40.728401,-73.999688,40.700300,-73.991581,member

In [16]:
citibike_2023_data_merged_df.to_csv("citibike_2023_data.csv", index=False)